.form__container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    width: 520px;
    background: #fff;
    padding: 35px;
    border-radius: 4px;
}
.form__container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 17px;
    grid-column-gap: 22px;
}
.full-w-label{
    grid-column: 1/3;
}
.form__container h2{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.form__container form label{
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
}
.form__container form label input, .form__container form label select{
    padding: 10px 18px;
    font-size: 1rem;
    border: none;
    background: #f0f0f0;
    border-radius: 4px;
}
.form__container form button{
    padding: 12px 18px;
    font-size: 1rem;
    border: none;
    background: var(--secondary-bg);
    color: #fff;
    border-radius: 4px;
    margin-top: 8px;
}
.more-actions{
    text-align: center;
    margin-top: 1.5rem;
}
.more-actions span{
    text-decoration: underline;
    color: var(--secondary-bg);
}