.rooms {
  padding: 40px 0;
}
.title {
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.2rem;
}
.rooms__container {
  // max-width: var(--max-width);
  margin: auto;
  position: relative;
}
.prev-slide-btn,
.next-slide-btn {
  width: 55px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 164px;
  cursor: pointer;
}
.prev-slide-btn {
  left: -55px;
}
.next-slide-btn {
  right: -55px;
}

@media screen and (max-width: 1439px) {
  .title,
  .rooms__container {
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .title,
  .rooms__container {
    max-width: 90%;
  }
  .prev-slide-btn,
  .next-slide-btn {
    display: none;
  }
}

// css for shimmer effect
.shimmer-room-card {
  width: 300px;
  height: 349.5px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto auto 6px;
  background: hsla(0, 0%, 100%, 0.392);

  .banner {
    width: 100%;
    height: 165px;
    margin-bottom: 10px;
  }
  .title {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
  }
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 32px;
    margin-bottom: 22px;
    justify-content: flex-start;
    .item {
      height: 16px;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    grid-gap: 12px;
    .btn {
      height: 35px;
      width: 35px;
    }
    .btn:nth-child(2) {
      flex: 1;
    }
  }
}
