.testimonials {
  padding: 40px 0;
}
.testimonials__title {
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.2rem;
}
.testimonials__container {
  max-width: var(--max-width);
  position: relative;
  margin: auto;
}

.prev-slide-btn,
.next-slide-btn {
  width: 55px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 104px;
  cursor: pointer;
}
.prev-slide-btn {
  left: -55px;
}
.next-slide-btn {
  right: -55px;
}


// simmer effect card
.testimonials-shimmer{
  background: #fff;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px 20px;
  box-shadow: -7px 15px hsla(0,2%,88%,.657);
  border-radius: 12px;

  .image{
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
    border-radius: 50%;
  }
  .name{
    width: 145px;
    height: 21.5px;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  .message{
    width: 345px;
    height: 44px;
    border-radius: 12px;
    margin-bottom: 12px;
  }
  .designation{
    width: 145px;
    height: 16.5px;
    border-radius: 12px;
  }
}