.room-card{
    width: 300px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    margin: auto;
    margin-bottom: 6px;
    background: #ffffff64;
    img{
        width: 100%;
        height: 165px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    h2{
        font-size: 1.02rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .info{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 12px;
        margin-bottom: 22px;

        div{
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            flex-direction: row;
            grid-gap: 6px;
            color: #00000094;
            b{
                font-weight: 500;
            }
        }
        .ratings{
            svg, span{
                color: #fdcd0e;
            }
        }
    }
    .location{
        font-size: 0.8rem;
        margin-bottom: 12px;
    }
    .action_buttons{
        display: flex;
        justify-content: center;
        grid-gap: 12px;
    }
    .wishlist-btn{
        display: flex;
        padding: 4px;
        border: 1.2px solid #c9c9c9;
        border-radius: 5px;
        color: red;
        cursor: pointer;
    }
    .view-btn{
        width: max-content;
        text-align: center;
        font-size: 0.9rem;
        border: 1.2px solid var(--secondary-bg);
        color: var(--secondary-bg);
        // color: #fff;
        // background: var(--secondary-bg);
        font-weight: 500;
        padding: 4px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}
.star-rating{
    // grid-column: 1/3;
    color: #fdcd0e;
}