@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './customize.scss';
@import './ShimmerEffect.scss';
:root {
  --max-width: 1250px;
  --border-radius: 12px;
  --primary-font: 'Montserrat', sans-serif;

  // --darkest-blue: #03045E;
  // --dark-blue: #0077B6;
  // --blue: #00B4D8;
  // --light-blue: #90E0EF;
  // --lightest-blue: #CAF0F8;
}

* {
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
}

a {
  color: inherit;
  text-decoration: none;
}
