@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './customize.scss';
:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --primary-bg: #F6F1F1;
  --secondary-bg: #146C94;
  --primary-font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--primary-bg);
  font-family: var(--primary-font);
}

a {
  color: inherit;
  text-decoration: none;
}
