.container {
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
  padding: 40px 0;
}
.wrapper {
  // display: flex;
  grid-gap: 1.3rem;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  display: grid;
  grid-template-columns: 5fr 3fr;
  position: relative;
}
.video-background {
  width: 100%;
  // height: 100%;
  object-fit: cover;
  /* z-index: -1; */
  border-radius: 8px;
}
.step-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
}
.title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.2rem;
}

.step-card {
  // width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  display: flex;
  grid-gap: 2rem;
  text-align: start;
  align-items: center;
}
.step-card .count {
  font-size: 3.8rem;
  margin-bottom: 4px;
  font-weight: 600;
}
.step-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 6px;
}
.step-card p {
  font-size: 0.95rem;
  line-height: 1.4rem;
  font-weight: 500;
}
